.monospace {
    font-family: monospace;
}

.bord{
    display: flex;
    text-align: center;

    .redscore{
        width: 35vw;

        .score{
            font-size: 100px;
        }

        .button{
            width: 25vw;
            height: 30px;
        }
    }

    .bluescore{
        width: 35vw;

        .score{
            font-size: 100px;
        }

        .button{
            width: 25vw;
            height: 30px;
        }
    }

    .span{
        width: 30vw;

        .box{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 10px;
            height: 100vh;
            background-color: white;
        }
    }
}